@font-face {
    font-family: Noto;
    src: url(fonts/NotoSans-Regular.ttf);
}

body {
    background: black;
    color: white;
    font-family: Noto;
}

.clock-layout, .weather-layout, .traffic-layout, .news-layout {
    padding: 20px;
}

.right-layout {
    text-align: right;
}

#traffic-issues-title, #news-title {
    font-size: 2em;
    display: inline-block;
}

.traffic-issues-icon, #news-icon {
    width: 35px;
    vertical-align: middle;
}
#news-icon {
    vertical-align: bottom;
}

#traffic-issues-list, #news-list {
    list-style: none;
    padding: 0;
    font-size: 1em;
}

.traffic-issues-item-title {
    font-size: 1.5em;
}



#weather-icon, #weather-city-name, #weather-description  {
    text-align: right;
    display: block;
}

#weather-city-name, #clock-content {
    font-size: 3em;
}

#weather-icon {
    width: 200px;
    margin: 0 0 0 auto;
}

#weather-description {
    font-size: 1.5em;
}



/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.66%; }
.span_1_of_3 { width: 33.33%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
